@import url('https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script:wght@500&family=Josefin+Sans&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,700&family=Roboto&family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* #323946  #22254b  7f00ff*/

:root{
    --bg-color:#323946;
    --second-bg-color:#bf40bf;
    --text-color:#fff;
    --main-color:#22254b;
}

.division-p1{
    padding: 20px 80px;
}

h2{
    font-size: 2.3rem;
}

h3{
    font-size: 1.4rem;
}

.navbar{
    background-color:var(--main-color);
    margin: 20px 20px 4px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14vh;
    border-radius: 10px;
}

.navbar input{
    margin-right: 20px;
    padding: .7rem 2.5rem;
    outline: none;
    border: 2px solid var(--text-color);
    border-radius: 30px;
    font-size: 1rem;
    text-align: center;
}

.navbar h2{
    margin-left: 20px;
    color: var(--text-color);
}

.navbar span{
    color: orange;
}

main .movie-card{
    width:350px;
    background-color:#1f242d;
    margin-top: -80px;
    border-radius: 10px;
}


main .movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 20px 0;
    border-radius: 10px;
    color: #fff;
}


.movie-card .image{
    width: 100%;
    height: 80vh;
}

.movie-info span{
    margin-right: 20px;
    font-weight: 700;
    font-size: larger;
}

.movie-info h3{
    margin-left: 20px;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--main-color);
    margin: 1px 20px;
    height: 100%;
    border-radius: 10px;

}

.movie-card img{
    width: 100%;
}
